<ion-app>
  <ion-menu side="start" menu-id="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menü</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="/home" routerDirection="forward" (click)="menuSchliessen()">Home</ion-item>
        <ion-item href="/historie" routerDirection="forward" (click)="menuSchliessen()">Historie</ion-item>
        <ion-item href="/hilfe" routerDirection="forward" (click)="menuSchliessen()">Hilfe</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>